<h1>HELLOOOO!!!</h1>

<h1>{{this.name}}</h1>
<span>
    {{#each artistId}}
    {{name}} {{occupation}}{{catchPhrase}}
    {{/each}}
</span>
<p>Name: {{this.name}}</p>
<p>Occupation: {{this.occupation}}/10</p>
<p>catchPhrase: {{this.catchPhrase:}}</p>
<br>
<a href="/celebrities">Return</a>

<!--

    <h2>Your celebrity</h2>

<p> My name is {{data.name}}</p>
<p> My occupatios is {{data.occupation}}</p>
<p> My catchPhrase is {{data.catchPhrase}}</p>

 <a href="../celebrities">return</a>
-->